APP_NAME=lattice-workflow
APP_ENV=local
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=lattice
DB_USERNAME=lattice
DB_PASSWORD=secret

QUEUE_CONNECTION=database
CACHE_DRIVER=array

WORKFLOW_STORE_DRIVER=database
