APP_NAME=lattice-service
APP_ENV=local
APP_DEBUG=true

HTTP_HOST=0.0.0.0
HTTP_PORT=8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=lattice
DB_USERNAME=lattice
DB_PASSWORD=secret

CACHE_DRIVER=array
QUEUE_CONNECTION=sync

TRANSPORT_DRIVER=nats
TRANSPORT_HOST=127.0.0.1
TRANSPORT_PORT=4222
